---
layout: default
title: Home
---

<div>
  <!-- <p class="message">
    🚧 Pardon the mess, this website is under construction 🚧
  </p>
  <h2>Consulting</h2>
  <p>Brief summary of the services I offer</p>
  <h2>Resume</h2>
  <p>The most updated form of my professional resume</p>
  <h2>DataScience</h2>
  <p>A place to collect and share what I've learned during my analytics journey</p>
  <h2>BookClub</h2>
  <p>Where I review books I've read</p>
  <h2>Blog</h2>
  <p>A place for my random thoughts and musings</p> -->
  <div class="row">
    <div class="offset-md-3 col-md-6 text-center">
      <i class="fab fa-github" style="font-size: 2em" text-align="center"> </i>
      <i class="fab fa-linkedin-in" style="font-size: 2em" text-align="center"></i>
      <i class="fas fa-mail-bulk" style="font-size: 2em" text-align="center"></i>
      <i class="fab fa-twitter" style="font-size: 2em" text-align="center"></i>
    </div>
  </div>
</div>


<!-- <div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
